 <!-- Header -->
    <header class="header">
        <nav class="nav">
            <div class="logo">BRAND</div>
            <ul class="nav-menu">
                <li>
                  <a href="{% url "index" %}"
                  hx-get="{% url "index" %}"
                  hx-target="#main-content"
                  hx-push-url="true">
                  Главная
                  </a>
                </li>

                <li>
                  <a href="{% url 'catalog' %}"
                     hx-get="{% url 'catalog' %}"
                     hx-target="#main-content"
                     hx-push-url="true"
                     hx-on="click: cartBtn()"
                     >Каталог
                  </a>
                </li>

                <li><a href="#collection">Коллекция</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
            <div class="nav-icons">
                <button class="cart-btn" id="cartBtn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M9 2L7 6H3L6 20H18L21 6H17L15 2H9Z"/>
                        <circle cx="9" cy="21" r="1"/>
                        <circle cx="15" cy="21" r="1"/>
                    </svg>
                    <span class="cart-count" id="cartCount">0</span>
                </button>
                <button class="menu-toggle" id="menuToggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
    </header>
